<nav class="dashboard-navbar">
    <div class="nav-logo">
        <a href="#">Krajaan</a>
    </div>
    <ul class="nav-list">
        <li class="nav-item"><a class="link-nav" href="#">Home</a></li>
        <li class="nav-item"><a class="link-nav" href="#">My Mission</a></li>
        <li class="nav-item"><a class="link-nav" href="#">Sasana</a></li>
        <li class="nav-item"><a class="link-nav" href="#">Notification</a></li>
        <li class="nav-item"><a class="link-nav" href="#">News</a></li>
    </ul>
</nav>